<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de vendas</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="card">

            </div>
        </div>
    </section>
</body>
</html>