<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        section{
            margin-left: 13%;
            display: inline-flex;
        }
        .box {
            background: #171720;
            margin: 2% 4%;
            width: 100%;
            border-radius: 15px;
        }
        .box img{
            margin: 5% 25%;
            width: 50%;
        }
        .box h2{
            margin-bottom: 10%;
            color: #fff;
            text-align: center;
        }
    </style>
</head>
<body>
    <section>
        <div class="box">
            <img src="~/fonts/serv_consulta.png">
            <h2>Consulta Veterinária</h2>
        </div>
        <div class="box">
            <img src="~/fonts/serv_banho.png">
            <h2>Banho e Tosa</h2>
        </div>
    </section>
</body>
</html>